@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply scroll-smooth font-roboto !important;
}

html {
	margin-left: calc(100vw - 100%);
	background: #f4f7fb;
}

html.dark {
	margin-left: calc(100vw - 100%);
	background: #0f172a;
}

#__next {
	@apply w-full h-full;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: #c5c6c7 !important;
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}
.scrollbar-none {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.flex-center {
	@apply justify-center items-center;
}

.text-start {
	text-align: start;
	text-align: left;
}

button {
	@apply cursor-pointer;
}

button:disabled {
	@apply cursor-not-allowed;
}

/* Size of buttons */
.button {
	@apply px-2 py-2 rounded-sm text-base text-center transition-colors;
}

/* Color style of buttons */
.button-filled {
	@apply font-bold text-yearn-blue bg-white hover:bg-white/80 rounded-lg;
}
.button-filled-alt {
	@apply font-bold text-white bg-yearn-blue hover:bg-yearn-blue-dark rounded-lg;
}
.button-filled-alt:disabled {
	@apply bg-white-blue-1 text-gray-blue-3 hover:bg-white-blue-1 font-bold rounded-lg;
}
.button-outline {
	@apply font-bold text-yearn-blue border-yearn-blue border bg-white hover:bg-white/80 rounded-lg transition-colors hover:bg-yearn-blue hover:text-white;
}
.withBackgroundImage {
	background-image: radial-gradient(
		circle,
		#435798,
		#374881,
		#2c3a6b,
		#212d55,
		#162041
	);
}
